p {
    font-weight: bold;
    font-family: Microsoft JhengHei;
    color: black;
}

.col-md-4 {
    background-color: #DDFF77;
    font-family: Microsoft JhengHei;
}

.blue_block {
    font-size: 24pt;
    background-color: #0066FF;
    color: white;
    padding-left: 8px;
    font-weight: bold;
}

span {
    color: red;
    font-size: 20pt;
    font-weight: bold;
}